In [1]:
#Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
#load dataset
ds = pd.read_csv("quikr_car.csv")

In [4]:
#Analysis
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [13]:
#name column has wrong values
#comapny column has wrong values
#year has non-numeric values
#Price - Ask For Price and ',' is present in every value
#kms_driven - Petrol, ',' and ' kms'
#fuel_type - null value
#name column contains company name

In [17]:
#Lets convert data type of year column
ds["year"] = pd.to_numeric(ds["year"], errors = 'coerce')
ds.dropna(subset = ["year"], inplace = True)
ds["year"] = ds["year"].astype(int)

In [28]:
#Lets clean Price column
#lets iterate with every record and replace ',' with ''
for i in ds.index:
    price = ds.loc[i, "Price"]
    price = price.replace(",", "")
    ds.loc[i, "Price"] = price

In [30]:
ds["Price"] = pd.to_numeric(ds["Price"], errors = 'coerce')
ds.dropna(subset = ["Price"], inplace = True)

In [32]:
def convert_to_numeric_str(s):
    s = s.replace(",", "")
    s = s.replace(" kms", "")
    return s

In [36]:
ds["kms_driven"] = ds["kms_driven"].apply(convert_to_numeric_str)

In [39]:
ds["kms_driven"] = pd.to_numeric(ds["kms_driven"], errors = 'coerce')
ds.dropna(subset = ["kms_driven"], inplace = True)

In [40]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    float64
 4   kms_driven  817 non-null    float64
 5   fuel_type   816 non-null    object
dtypes: float64(2), int32(1), object(3)
memory usage: 41.5+ KB

In [42]:
ds.dropna(subset = ["fuel_type"], inplace = True)

In [44]:
ds["fuel_type"].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [47]:
def replace_company_name(name, company):
    name = name.replace(company, "").strip()
    return name

In [51]:
ds["name"] = ds.apply(lambda row: replace_company_name(row['name'], row['company']), axis=1)

In [54]:
ds.duplicated().value_counts()

False    724
True      92
Name: count, dtype: int64

In [55]:
ds.drop_duplicates(inplace = True)

In [58]:
for i in ds.index:
    kms_driven = ds.loc[i, "kms_driven"]
    if kms_driven < 1000:
        ds.drop(i, inplace = True)

In [59]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 709 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        709 non-null    object
 1   company     709 non-null    object
 2   year        709 non-null    int32
 3   Price       709 non-null    float64
 4   kms_driven  709 non-null    float64
 5   fuel_type   709 non-null    object
dtypes: float64(2), int32(1), object(3)
memory usage: 52.2+ KB

In [61]:
ds.reset_index(drop = True, inplace = True)

In [63]:
ds.to_csv("cleaned_data.csv")